In [2]:
import pandas as pd

df=pd.read_csv("server_side/Hotel_Reviews.csv")

In [19]:
df.head()

,Hotel_Address,Average_Score,Hotel_Name,Positive_Review,Reviewer_Score,Tags,countries
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,only the park outside of the hotel was beauti...,2.9,leisure trip couple duplex double room sta...,NL
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,no real complaints the hotel was great great ...,7.5,leisure trip couple duplex double room sta...,NL
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,location was good and staff were ok it is cut...,7.1,leisure trip family with young children dup...,NL
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,great location in nice surroundings the bar a...,3.8,leisure trip solo traveler duplex double ro...,NL
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,amazing location and building romantic setting,6.7,leisure trip couple suite stayed 2 nights ...,NL

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Hotel_Address    515738 non-null  object
 1   Average_Score    515738 non-null  float64
 2   Hotel_Name       515738 non-null  object
 3   Positive_Review  515738 non-null  object
 4   Reviewer_Score   515738 non-null  float64
 5   Tags             515738 non-null  object
dtypes: float64(2), object(4)
memory usage: 23.6+ MB

In [9]:
df.drop(["Additional_Number_of_Scoring","Review_Date","Reviewer_Nationality","Negative_Review","Review_Total_Negative_Word_Counts","Total_Number_of_Reviews","Review_Total_Positive_Word_Counts","Total_Number_of_Reviews_Reviewer_Has_Given","days_since_review","lat","lng"],axis=1,inplace=True)

In [11]:
df.Hotel_Address = df.Hotel_Address.str.replace("Netherlands","NL")
df.Hotel_Address = df.Hotel_Address.str.replace("United Kingdom","UK")
df.Hotel_Address = df.Hotel_Address.str.replace("France","FR")
df.Hotel_Address = df.Hotel_Address.str.replace("Spain","ES")
df.Hotel_Address = df.Hotel_Address.str.replace("Italy","IT")
df.Hotel_Address = df.Hotel_Address.str.replace("Austria","AT")

df["countries"] = df.Hotel_Address.apply(lambda x : x.split(" ")[-1])

In [15]:
df["Positive_Review"]=df["Positive_Review"].apply(lambda x: x.lower())

In [23]:
import nltk
nltk.download('punkt_tab')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('omw-1.4')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from ast import literal_eval

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\ROUSHAN\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ROUSHAN\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ROUSHAN\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\ROUSHAN\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [18]:
def taglist(column):
    column=column[0]
    if(type(column) != list):
        return "".join(literal_eval(column))
    else:
        return column

df["Tags"]=df[["Tags"]].apply(taglist,axis=1)
df["Tags"]=df["Tags"].apply(lambda x: x.lower())

C:\Users\ROUSHAN\AppData\Local\Temp\ipykernel_11220\3676961512.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  column=column[0]

In [20]:
import pickle

pickle.dump(df,open("hotelModel2.pkl","wb"))

In [56]:
import pickle

hotelData=pickle.load(open("hotelModel2.pkl","rb"))
hotelData.head()

,Hotel_Address,Average_Score,Reviewer_Score,Hotel_Name,Positive_Review,Tags,Words,countries,Stars,Price
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,2.9,Hotel Arena,only the park outside of the hotel was beauti...,leisure trip couple duplex double room sta...,leisure trip couple duplex double room sta...,NL,5,1470
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,7.5,Hotel Arena,no real complaints the hotel was great great ...,leisure trip couple duplex double room sta...,leisure trip couple duplex double room sta...,NL,5,1470
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,7.1,Hotel Arena,location was good and staff were ok it is cut...,leisure trip family with young children dup...,leisure trip family with young children dup...,NL,5,1470
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,3.8,Hotel Arena,great location in nice surroundings the bar a...,leisure trip solo traveler duplex double ro...,leisure trip solo traveler duplex double ro...,NL,5,1470
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,6.7,Hotel Arena,amazing location and building romantic setting,leisure trip couple suite stayed 2 nights ...,leisure trip couple suite stayed 2 nights ...,NL,5,1470

In [5]:
import pickle

hotelPrevData=pickle.load(open("server_side/hotelModelPickle.pkl","rb"))
hotelPrevData.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score,Price
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,6.05,1470
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,2.83,1470
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,NL,5,6.98,1470
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,NL,5,3.84,1470
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,NL,5,8.89,1470

In [6]:
hotelData["Stars"]=hotelPrevData["Stars"]

In [7]:
hotelData["Price"]=hotelPrevData["Price"]

In [57]:
hotelData.head()

,Hotel_Address,Average_Score,Reviewer_Score,Hotel_Name,Positive_Review,Tags,Words,countries,Stars,Price
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,2.9,Hotel Arena,only the park outside of the hotel was beauti...,leisure trip couple duplex double room sta...,leisure trip couple duplex double room sta...,NL,5,1470
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,7.5,Hotel Arena,no real complaints the hotel was great great ...,leisure trip couple duplex double room sta...,leisure trip couple duplex double room sta...,NL,5,1470
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,7.1,Hotel Arena,location was good and staff were ok it is cut...,leisure trip family with young children dup...,leisure trip family with young children dup...,NL,5,1470
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,3.8,Hotel Arena,great location in nice surroundings the bar a...,leisure trip solo traveler duplex double ro...,leisure trip solo traveler duplex double ro...,NL,5,1470
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,6.7,Hotel Arena,amazing location and building romantic setting,leisure trip couple suite stayed 2 nights ...,leisure trip couple suite stayed 2 nights ...,NL,5,1470

In [48]:
hotelData.insert(2,'Reviewer_Score',hotelData.pop('Reviewer_Score'))

In [50]:
hotelData['Words']=hotelData['Tags']+" "+hotelData['Positive_Review']

In [52]:
hotelData.insert(6,'Words',hotelData.pop('Words'))

In [10]:

hotelPrevData.iloc[[351956,284676,255526,482429,72957]]

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score,Price
351956,Josefst dter Stra e 10 12 08 Josefstadt 1080 V...,8.3,Fleming s Selection Hotel Wien City,leisure trip couple superior double or twin...,AT,4,2.53,730
284676,Bellamyplein 47 Oud West 1053 AT Amsterdam NL,8.8,Hotel De Hallen,leisure trip family with older children dou...,NL,3,3.58,350
255526,84 King Street Hammersmith and Fulham London W...,7.8,Best Western Plus Seraphine Hammersmith Hotel,business trip solo traveler executive doubl...,UK,4,5.09,880
482429,Via Mecenate 121 20138 Milan IT,8.0,Novotel Milano Linate Aeroporto,leisure trip group superior room with 1 dou...,IT,3,7.60,240
72957,173 Gloucester Place Westminster Borough Londo...,7.7,Park Avenue Baker Street,leisure trip solo traveler deluxe double ro...,UK,4,4.27,650

In [55]:
import pickle

pickle.dump(hotelData,open("hotelModel2.pkl","wb"))

In [64]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

def findMyHotel4(df, country, sortBy, stars, range, query):

    #country
    countryMask=df["countries"].str.contains(country,case=False)

    #stars
    starMask=pd.Series([True]*len(df))
    if stars!=0:
        if stars==3:
            starMask=df['Stars']==3
        elif stars==4:
            starMask=df['Stars']==4
        elif stars==5:
            starMask=df['Stars']==5

    
    #price
    min=range[0]
    max=range[1]
    minPriceMask=df['Price']>=min
    maxPriceMask=df['Price']<=max
    combinedPriceMask=minPriceMask & maxPriceMask

    #filter
    filterDf=df[countryMask & starMask & combinedPriceMask]
    filterDf=filterDf.drop_duplicates(['Hotel_Name'])

    #process text
    def processText(text):
        stopWords=set(stopwords.words("english"))
        words=word_tokenize(text)
        filterWords=[i for i in words if i not in stopWords]
        lemmat=WordNetLemmatizer()
        lemmatWords=[lemmat.lemmatize(i) for i in filterWords]
        return " ".join(lemmatWords)
    
    #processing the query
    queryText=processText(query)

    #creating the vectors and finding cos product
    tfidf=TfidfVectorizer(stop_words="english")
    tfMatrix=tfidf.fit_transform(filterDf['Words'])
    queryVector=tfidf.transform([queryText.lower()])
    cosProd=cosine_similarity(queryVector,tfMatrix).flatten()
    hotelsFound=cosProd.argsort()[-100:][::-1]
    resultDf=filterDf.iloc[hotelsFound]

    if sortBy==0:
        resultDf=resultDf.sort_values('Average_Score',ascending=False)
    elif sortBy==1:
        resultDf=resultDf.sort_values('Reviewer_Score',ascending=False)
    elif sortBy==2:
        resultDf=resultDf.sort_values('Price',ascending=True)
    else:
        print("Wrong filter")
        return
    
    resultDf=resultDf.head(10)
    return resultDf

findMyHotel4(hotelData,"UK",2,5,[1200,1500],"spacious couple room")

,Hotel_Address,Average_Score,Reviewer_Score,Hotel_Name,Positive_Review,Tags,Words,countries,Stars,Price
132593,291 Greenwich High Road Greenwich Greenwich Lo...,8.2,7.9,Innkeeper s Lodge London Greenwich,fantastic location opposite greenwich market ...,leisure trip couple standard double room s...,leisure trip couple standard double room s...,UK,5,1210
54026,15 Cromwell Place Kensington and Chelsea Londo...,8.6,10.0,The Pelham Starhotels Collezione,this was in a great location museums on the c...,leisure trip group deluxe double or twin ro...,leisure trip group deluxe double or twin ro...,UK,5,1210
240501,7 Western Gateway Royal Victoria Dock Newham L...,8.5,9.2,Novotel London Excel,no positive,leisure trip group standard queen room with...,leisure trip group standard queen room with...,UK,5,1220
70751,17 Nottingham Place Westminster Borough London...,7.6,4.6,Hotel La Place,good access to tube could leave luggage there...,leisure trip solo traveler single room sta...,leisure trip solo traveler single room sta...,UK,5,1220
18445,10 Carlisle Street Westminster Borough London ...,9.0,9.6,The Nadler Soho,no positive,leisure trip family with young children nad...,leisure trip family with young children nad...,UK,5,1220
137888,3 South Place City of London London EC2M 2AF UK,9.3,9.6,South Place Hotel,staff were friendly and helpful yet discreet ...,leisure trip couple deluxe double room sta...,leisure trip couple deluxe double room sta...,UK,5,1230
971,1 2 Serjeant s Inn Fleet Street City of London...,9.2,9.2,Apex Temple Court Hotel,they have followed through special requests c...,leisure trip couple deluxe king room with c...,leisure trip couple deluxe king room with c...,UK,5,1230
194506,49 53 New Road Tower Hamlets London E1 1HH UK,7.6,3.3,The Whitechapel,in this hotel have a bedbams i have bitten by...,leisure trip group premier twin room staye...,leisure trip group premier twin room staye...,UK,5,1230
143975,31 33 Argyle Street Camden London WC1H 8EP UK,8.1,8.8,Comfort Inn Suites Kings Cross St Pancras,unfortunately we were not able to have any br...,leisure trip couple double suite stayed 1 ...,leisure trip couple double suite stayed 1 ...,UK,5,1240
182575,41 43 Brook Street Westminster Borough London ...,9.3,9.6,Claridge s,service is impeccable very attentive and acco...,business trip couple superior queen room s...,business trip couple superior queen room s...,UK,5,1240